body{
	font-family: "微软雅黑";
}
.linkList_main_wrap{
	width: 100%;
	min-width: 1200px;
	margin: auto;
	background: #F5F5F5;
	padding-bottom: 50px;
}
.list_title_wrap{
	padding-top: 10px;
}
.list_title{
	line-height: 24px;
	font-size:12px;
}
.bien_list{
	height: 42px;
	border: 1px solid #d7d7d7;
	background: #fff;
	margin-top:35px;
	line-height: 42px;
}
.bien_list_title{
	float: left;
}
.bien_list_title dt{
	float: left;
	width: 75px;
	text-align: center;
	font-size: 12px;
	color: #888;
}
.bien_list_title dd{
	float: left;
	margin: 8px 10px 0 0;
	height: 25px;
	line-height: 22px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	background: #958f8f;
}
.bien_list_title dd a{
	font-size: 12px;
	color: #fff!important;
	padding: 0 8px;
	line-height: 25px;
}
.bien_total{
	float: right;
}
.bien_total span{
	color: #C20005;
}
.bien_list_much{
	float: left;
}
.bien_list_much dt{
	float: left;
	width:57px;
	margin-right: 10px;
	font-size: 12px;
}
.bien_list_much dt input{
	margin: 14px 5px 0 15px;
	float: left;
}
.bien_list_much dd{
	float: left;
	margin-right: 10px;
}
.bien_list_much_txt{
	border: 1px solid #d7d7d7;
	width: 65px;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
	color: #666;
	border-radius: 2px;
	padding-left: 5px;
	font-size: 12px;
	float: left;
}
.bien_list_much_txt input{
	float: right;
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-indent: 4px;
}
.bien_list_submit{
	font-size: 12px;
	float: left;
	width: 50px;
	height: 25px;
	background: #C20005;
	color: #fff!important;
	text-align: center;
	margin:9px 0 0 5px ;
	border-radius:2px ;
	line-height: 25px;
}
.bien_list_page{
	float: right;
	margin-right: 5px;
	
}
.page_num{
	font-size: 14px;
	float: left;
	margin-right: 15px;
}
.bien_list_page a{
	float: left;
	background: url(../img/index_ioc.png) no-repeat;
	border: 1px solid #d7d7d7;
	width: 24px;
	height: 25px;
	margin: 8px 10px 0 0;
	border-radius: 2px;
}
.bien_list_page a:nth-child(2){
	background-position: -46px -1120px;
}
.bien_list_page a:last-child{
	background-position: 9px -1120px;
}
.bien_list_main{
	margin-right: -16px;
	margin-bottom: 30px;
}
.bien_list_main li{
	float: left;
	margin: 10px 16px 0 0;
    border: 1px #d7d7d7 solid;
    width: 225px;
    height: 320px;
    background: #fff;
    position: relative;
}
.bien_list_main li a>img{
	width: 225px;
	height: 225px;
}
.bien_list_info{
	margin: 15px 0 0 13px;
	line-height: 25px;
}
.bien_list_info span{
	font-size: 20px;
	color: #C20005;
	font-family: "微软雅黑";
}
.bien_list_info p{
	font-size: 12px;
	height: 1.5em;
}
.bien_list_info a{
	font-size: 12px;
	color: #5f6060;
}
.list_page_nav_wrap{
	padding-left: 283.5px;
	overflow: hidden;
}
.list_page_nav{
	float: left;
	height: 25px;
	margin: 15px auto;
}
.list_page_nav li{
	float: left;
	width: 23px;
	height: 23px;
	margin-right: 8px;
	line-height: 23px;
	text-align: center;
	background: #efefef;
	color: #666;
	cursor: pointer;
	border: 1px solid #dfdfdf;
}
.list_page_nav li a{
	font-size: 12px;
	color: ;
}
.list_page_nav li:hover{
	background: #C20005;
}
.list_page_nav li:hover a{
	color: #fff!important;
}
.list_page_nav .home_page{
	width: 35px;	
}
.list_page_nav .home_page a{
	color: #666;
}
.list_page_nav .last_page{
	width: 50px;
}
.list_page_nav .last_page a{
	color: #666;
}
.list_page_nav #jumpPage{
	background: transparent;
	border: 0;
	cursor: default;
	width: 250px;
	font-size: 12px;
}
#jumpPage input{
	border: 1px solid #dfdfdf;
    height: 25px;
    width: 50px;
    margin-left: 5px;
    color: #666;
    background: #fff;
}
#jumpPage a{
	float: right;
	width:35px;
	height: 23px;
	margin-right: 8px;
	line-height: 23px;
	text-align: center;
	background: #efefef;
	color: #666;
	cursor: pointer;
	border: 1px solid #dfdfdf;
}
#jumpPage a:hover{
	background: #C20005;
	color: #fff;
}
#jumpPage:hover{
	background: transparent;
	color: #666;
}
.list_guessUlike{
	border-top: 2px solid #5F6060;
	padding: 10px 0 15px 0;
	margin-top: 30px;
}
.list_guessUlike i{
	font-size: 12px;
    margin-right: 20px;
    background: url(../img/index_ioc.png) no-repeat 47px -620px;
    width: 66px;
    height: 20px;
    line-height: 22px;
    margin-top: 16px;
    cursor: pointer;
}
.list_guessUlike ul li span{
	padding: 0 0 0 10px;
	display: block;
}
.list_guessUlike ul li span b{
	font-size: 12px;
}
.list_guessUlike ul li span p{
	margin-top: 5px;
	font-size: 16px;
	color: #C20005;
}

.list_guessUlike ul li a{	
    display: block;
    width: 199px;
    height: 264px;
    color: #333;
    font-family: "微软雅黑";
}